$black: #000;
$white: #fff;
$white-smoke: #f1f8f5;
$dune: #313131;
$dartmouth-green: #006241;
$medium-jungle-green: #1e3932;
$tropical-rain-forest: #00754a;
$pale-blue-lily: #d4e9e2;
$medium-spring-bud: #cbe678;
$custard: #f1ff67;
$sand-brown: #cba258;
$dark-jungle-green: #212121;
